.btn-lg {
  padding: 14px 16px;
  line-height: 1em;
}
td .btn-group {
  margin-right: 5px;
}
td .btn-group:last-child {
  margin-right: 0;
}
.btn-group .btn~.dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-group .dropdown-menu {
  text-align: left;
}
.btn .icon {
  font-size: 150%;
  margin: -.65em .25em -.5em -.25em;
}
.btn .icon.glyphicon-refresh {
  margin: -0.4em 0.3em 0 -0.3em;
  float: left;
  position: relative;
  top: .15em;
}
.btn.btn-xs .icon.glyphicon-spin {
  top: .35em;
  margin-left: -.2em;
}
.glyphicon-refresh {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.menu .icon {
  line-height: 1em;
  margin-left: -0.5em;
  margin-right: 0.5em;
}
img {
  height: auto;
  max-width: 100%;
}
body.admin-menu .navbar-fixed-top {
  top: 28px;
}
body.admin-menu.navbar-is-fixed-top {
  margin-top: 0 !important;
}
.navbar-nav.secondary > .expanded > a > .img-thumbnail {
  margin-bottom: -10px;
  margin-right: 10px;
  margin-top: -15px;
  padding: 2px;
}
.or {
  margin: .5em 1em;
}
input:focus,button:focus,.btn:focus,.form-control:focus,textarea:focus,a:focus {
  outline: 0;
}
.block.jumbotron {
  position: relative;
  overflow: hidden;
}
.block.jumbotron > .icon {
  position: absolute;
  bottom: .1em;
  right: .25em;
  top: inherit;
  font-size: 1000%;
  -moz-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  opacity: .05;
  z-index: 0;
}
