.btn-lg {
  padding: 14px 16px;
  line-height: 1em;
}
.btn-icon .icon {
  font-size: 140%;
  margin-right: 0.3em;
  margin-left: -0.3em;
}
.menu .icon {
  line-height: 1em;
  margin-left: -0.5em;
  margin-right: 0.5em;
}
img {
  height: auto;
  max-width: 100%;
}
body.admin-menu .navbar-fixed-top {
  top: 28px;
}
body.admin-menu.navbar-is-fixed-top {
  margin-top: 0 !important;
}
.navbar-nav.secondary > .expanded > a > .img-thumbnail {
  margin-bottom: -10px;
  margin-right: 10px;
  margin-top: -15px;
  padding: 2px;
}
