.btn-lg {
  padding: 14px 16px;
  line-height: 1em;
}
.btn-icon .icon {
  font-size: 140%;
  margin-right: 0.3em;
  margin-left: -0.3em;
}
.menu .icon {
  line-height: 1em;
  margin-left: -0.5em;
  margin-right: 0.5em;
}
img {
  height: auto;
  max-width: 100%;
}
